h1.titulo {
    font-size: 110px;
    color: white;
}

p {
    font-size: 15px;
}


body .primerparrafo {

    font-size: 60px;
    color: white;
}

h3.titulo2 {
    font-size: 50px;
    margin-top: 100px;
    color: white;
}
 
body .musica {
    margin-left: 1200px;
   
    
}

body .imagen1 {
    height: 500px;
    margin-left: 150px;
}

body .sai {
    
    margin-left: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 50%;
}
body .clip {
   
    margin-left: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 50%;
}
body{
    background-image: url(./fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h3 .titulo3 {
    font-size: 500px;
    color:white;
}

body .sub {
    margin-top: 50px;
    margin-right: 10px;
    font-size: 20px;
 color: white;
}

body .lista {
    font-size: 18px;
    color:  white;

}

body .sub2 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-left: 50px;
}
body .sub3 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-left: 50px;
}

body .herramientas {
    margin-left: 30px;
    font-size: 20px;
    color: white;
    
    
}

body .links {
font-size: 15px;
}