h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: brown;
}
p {
    font-size: 15px;
}

body .arpia {
    width: 150px;
    height: 150px;
    border-radius: 40%;
    margin-left: 1700px;
    background-color: black;
}

body .loritos {
    width: 250px;
    margin-left: 1000px;
}